.dtr-main-container {
  display: flex;
  margin-left: 20px;
}
.dtr-container {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 5px; */
  width: 370px;
}
.logo-container {
  margin-top: 10px;
  display: flex;
  font-size: 11px;
  align-items: center;
  gap: 8px;
}
.table {
  width: 100%;
}
.logo {
  width: 70px;
}
.sub-header {
  display: flex;
  gap: 1rem;
}
.title-name {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-name > h1 {
  font-weight: bold;
  font-size: 15px;
}
.title-name > h2 {
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: center;
}

.sub-header {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right > span {
  width: 100%;
  border-bottom: 1px solid grey;
}
.dtr-table {
  margin-top: 5px;
  font-size: 11px;
  width: 100%;
  border: 1px solid #e5e7eb;
}
.dtr-table > thead > tr > th {
  text-align: center;
  border: 1px solid #e5e7eb;
  background-color: #e5e7eb;
}

.dtr-table > tbody > tr > td {
  /* border-bottom: 1px solid #e5e7eb; */
  text-align: center;
  font-size: 11px;
  padding: 2px 5px;
}

.dtr-table > tbody > tr:nth-child(even) {
  background-color: #f3f4f6;
}

.log-time > td {
  border: 1px solid grey;
}
.bottom {
  width: 100%;
  margin-top: 10px;
}
.bottom2 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom2 > p:nth-child(1) {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-top: 4px;
  border-top: 1px solid grey;
}
.bottom2 > p:nth-child(2) {
  margin-top: 1rem;
  width: 100%;
}
.bottom2 > p:nth-child(3) {
  width: 70%;
  font-weight: bold;
  font-size: 12px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
